.text-content-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  background-color: #ebc2be;
  border-radius: 1rem;
  text-align: left;
}

.text-content-box h1 {
  padding-bottom: 0.7rem;
  color: black;
}
.text-content-box p {
  color: #6c000c;
  padding-top: 1rem;
}

.text-content-box a {
  color: #6c000c;
  text-decoration: underline 0.175em white;
  transition: text-decoration-color 0.7s;
}

.text-content-box a:hover {
  text-decoration: underline 0.175em #6c000c;
  transition: text-decoration-color 0.7s;
}
