.hero-holder {
  width: 100vw;
  height: 60vh;
  background-color: #cccccc;
  background: url(../../assets/images/hero-bg.JPG) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.hero-title h1 {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1.5rem;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

.scrolldown {
  display: none;
}

/* Avatar Content */

.avatar-content {
  text-align: center;
}

.avatar-content h4 {
  padding: 1rem 0;
}

.para-lg {
  display: none;
}

.avatar-content img {
  display: block;
  width: 55%;
  height: auto;
  margin: -5.5rem auto 0 auto;
}

/* Navbar Hide/Show */

.navbar-lg {
  display: none;
}

@media screen and (min-width: 640px) {
  .hero-holder {
    height: 50vh;
  }

  .hero-title {
    display: flex;
    height: 50vh;
  }

  .hero-title h1 {
    font-size: 3rem;
  }

  /* Avatar Content */

  .avatar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .avatar-content img {
    width: 40%;
    height: auto;
    margin: 0;
    padding: 1.5rem;
  }

  .avatar-content h4 {
    font-size: 1.5rem;
  }

  .para-lg {
    display: block;
    padding: 0 0 1.5rem 0;
    font-size: 1rem;
  }

  /* Navbar Hide/Show */

  .navbar-sml {
    display: none;
  }

  .navbar-lg {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .hero-holder,
  .hero-title {
    height: 70vh;
  }

  .avatar-content h4 {
    padding: 0;
    font-size: 2rem;
  }

  .para-lg {
    padding: 1.5rem;
    font-size: 1rem;
  }

  .avatar-content img {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-holder {
    height: 100vh;
  }

  .hero-title {
    flex-direction: column;
    height: 100vh;
  }

  .hero-title h1 {
    margin-bottom: 0;
    font-size: 6rem;
  }

  /* Scrolldown Animation */

  .scrolldown {
    display: flex;
    margin-top: auto;
    padding: 1rem 0;
    animation: bounce 3s ease-in infinite;
    color: white;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0%);
    }

    50% {
      transform: translateY(10%);
    }
  }
  .avatar-content h4 {
    font-size: 2.5rem;
  }

  .para-lg {
    padding: 1rem 1.5rem 2rem 1.5rem;
    font-size: 1.5rem;
  }

  .avatar-content img {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .para-lg {
    padding: 1rem 5rem 2rem 5rem;
  }
}
