* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: black;
}

.main-style {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .content-holder {
    display: flex;
    gap: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    color: #6c000c;
  }

  .main-style {
    max-width: 1366px;
  }

  .img-content-box {
    padding: 1rem 1rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .content-holder {
    gap: 5rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
