* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: black;
}

.main-style {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.3rem;
  }

  .text-content-box {
    padding: 2rem 3rem;
  }

  .content-holder {
    display: flex;
    gap: 2.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    color: #6c000c;
  }

  .main-style {
    max-width: 1366px;
  }
}
